@import url("https://use.typekit.net/uur2hao.css");

* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --copenhagen-green: #024442;
  --overlay-green: #024442d0;
  --little-yellow: #f2cb05;
  --coffee-brown: #3a2c01;
  --white: #ffffff;
  --black: #000000;

  /* Fonts */

  --modern-love: modern-love, sans-serif;
  --open-sans: open-sans, sans-serif;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  background: url("https://natvigdrougge.com/exam-images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* Navigation */

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #024442;
  border-bottom: 1px solid var(--little-yellow);
}

.header-heading a {
  color: var(--little-yellow);
  font-family: var(--modern-love);
  font-size: 5vh;
  margin: 30px;
  white-space: nowrap;
  text-decoration: none;
}

.nav-button {
  font-size: 5vh;
  cursor: pointer;
  background-color: var(--copenhagen-green);
  color: var(--little-yellow);
  margin: 30px;
  padding: 10px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--black);
  background-color: var(--overlay-green);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-family: var(--open-sans);
  font-size: 36px;
  color: var(--little-yellow);
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--white);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* End Navigation */

/* Main content */

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 4 / span 6;
  grid-row: 2 / span 4;
}

#menu-button {
  background-color: var(--copenhagen-green);
  border: 1px solid var(--little-yellow);
  color: var(--little-yellow);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 20vw;
  font-size: 1rem;
  border-radius: 20px;
}

#menu-button:hover,
#menu-button:focus {
  color: var(--white);
}

#content-container {
  grid-column: 4 / span 5;
  grid-row: 3 / span 4;
  display: flex;
  flex-direction: column;
  background-color: var(--copenhagen-green);
  padding: 50px;
  color: var(--little-yellow);
}

#section-heading {
  font-family: var(--modern-love);
  border-bottom: 1px solid var(--little-yellow);
}

#section-paragraph {
  font-family: var(--open-sans);
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--little-yellow);
}

#color-box {
  grid-column: 7 / span 3;
  grid-row: 2 / span 6;
  background-color: var(--little-yellow);
}

/* End main content */

/* Footer */

footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--copenhagen-green);
  border-top: 1px solid var(--little-yellow);
  gap: 50px;
}

footer img {
  height: auto;
  max-width: 3vw;
}

/* End footer */

/* Media queries */

@media screen and (max-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .header-heading a {
    color: var(--little-yellow);
    font-family: var(--modern-love);
    font-size: 2vh;
    margin: 20px;
    white-space: nowrap;
    text-decoration: none;
  }

  .nav-button {
    font-size: 2vh;
    cursor: pointer;
    background-color: var(--copenhagen-green);
    color: var(--little-yellow);
    margin: 20px;
    padding: 10px;
  }

  #menu-button {
    background-color: var(--copenhagen-green);
    border: 1px solid var(--little-yellow);
    color: var(--little-yellow);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    width: 25vw;
    font-size: 0.8rem;
    border-radius: 20px;
  }

  #logo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / span 6;
    grid-row: 2 / span 4;
  }

  #content-container {
    grid-column: 2 / span 4;
    grid-row: 3 / span 4;
    display: flex;
    flex-direction: column;
    background-color: var(--copenhagen-green);
    padding: 50px;
    color: var(--little-yellow);
  }

  #color-box {
    grid-column: 5 / span 3;
    grid-row: 2 / span 6;
    background-color: var(--little-yellow);
  }
}
